@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@solana/wallet-adapter-react-ui/styles.css';
@import './typography.scss';
@import './scrollbar.scss';

html {
  font-synthesis: none;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

// Custom css Date picker
.react-datepicker__calendar-icon {
  padding: 0 !important;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}
.react-datepicker__view-calendar-icon input {
  padding: 8px;
}
