.body-home{
  -webkit-scroll-snap-type: y mandatory;
      -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    @apply hidden
  }
  @apply overflow-auto w-full h-[100dvh] rounded-3xl bg-cover bg-swap-light dark:bg-swap-dark transition-all items-center 
}

section {
  @apply snap-start
}

.wrap-section {
    @apply h-[300vh] w-full bg-no-repeat bg-fixed 
}

.body-navigation:not(.active){
  .topApp-up{
    @apply opacity-0 translate-y-1/2
  }
  .bottomApp-down{
    @apply opacity-0 -translate-y-1/2
  }
  .title-up{
    @apply opacity-0 translate-y-full
  }  
  .desc-up{
    @apply text-2xl opacity-0 translate-y-80
  }
}

.body-navigation.active{
  @apply flex flex-col w-full h-full justify-center items-center;

  .topApp-up{
    @apply opacity-100 translate-y-0 transition-all ease-out duration-700 delay-2000
  }
  .bottomApp-down{
    @apply opacity-100 translate-y-0 transition-all ease-out duration-700 delay-2000
  }
  .title-up{
    @apply opacity-100 translate-y-0 transition-all ease-out duration-700 delay-700
  }  
  .desc-up{
    @apply text-2xl opacity-60 translate-y-0 transition-all ease-out duration-1000 delay-1000
  }
}