.body-home{
  -webkit-scroll-snap-type: y mandatory;
      -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    @apply hidden
  }
  @apply overflow-auto w-full h-[100dvh] rounded-3xl bg-cover bg-swap-light dark:bg-swap-dark transition-all items-center 
}

section {
  @apply snap-start
}

.wrap-section {
    @apply h-[350vh] w-full bg-no-repeat bg-fixed 
}
